.side-nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 0px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
}
.side-nav li.current_page_item {
    font-weight: 300;
    background-position: 195px center;
    background-repeat: no-repeat;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.side-nav .page_item {
    position: relative;
}

.side-nav > ul > li {
    padding-left: 20px;
}

.side-nav li {
    border-bottom: 1px solid #ededed;
}

.side-nav li {
    padding-top: 15px;
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 14px;
    background: #fff;
}

.side-nav li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.side-nav .page_item {
    position: relative;
}

.side-nav > ul > li {
    padding-left: 20px;
}

.side-nav li {
    border-bottom: 1px solid #ededed;
}

.side-nav li {
    padding-top: 15px;
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 14px;
    background: #fff;
}

.side-nav li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}