<div class="headerTop">
    <div>
        <img src="../../../assets/images/contact-us.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <h3>OASIS Engineering Services</h3>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <p style="color: black;"><b>Head Office: </b></p>
                        <p style="color: black;">Shop No. 1, Sneha Paradise, NDA Road,
                        </p>
                        <p style="color: black;">Warje Malwadi, Pune-411052. </p>
                        <p style="color: black;">Maharashtra, India</p>
                    </div>
                    <div class="col-sm-8 videoWrapper">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3181.9889742279374!2d73.8000022268836!3d18.481669316809217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf5e1e0c7751%3A0xafc5197382882844!2sSneha%20Paradise%20E%20-Wing!5e0!3m2!1sen!2sin!4v1579673582165!5m2!1sen!2sin"
                            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p style="color: black;"><b>Operations: </b></p>
                        <p style="color: black;">First Floor, Z-Wing, </p>
                        <p style="color: black;">BAIF Development Research Foundation, </p>
                        <p style="color: black;">Beside Mai Mangeshkar Hospital, </p>
                        <p style="color: black;">Mumbai Banglore Highway, Warje, </p>
                        <p style="color: black;">Pune - 411058.</p>
                        <p style="color: black;">Maharashtra, India</p>
                    </div>
                    <div class="col-sm-8 videoWrapper">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.931523184711!2d73.8005615!3d18.486760699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bfd3e6a3e157%3A0xd5c98a7e8a33626a!2sBAIF%20Development%20Research%20Foundation!5e0!3m2!1sen!2sin!4v1579673890332!5m2!1sen!2sin"
                            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-sm-12">
                    <p style="color: black;">Contact No: - +91-9130081899</p>
                    <p style="color: black;">Company Email: sales@oasisserve.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/address" routerLinkActive="active">Address</a></li>
                        <li class="list-group-item"><a routerLink="/serviceRequest" routerLinkActive="active">Request
                                for Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>