<div id="headerSlider" class="carousel slide headerTop" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
    <li data-target="#headerSlider" data-slide-to="1"></li>
    <li data-target="#headerSlider" data-slide-to="2"></li>
    <li data-target="#headerSlider" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/banner1.jpg" alt="Los Angeles" width="100%" height="ml-auto">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner2.jpg" alt="Chicago" width="100%" height="ml-auto">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner3.jpg" alt="New York" width="100%" height="ml-auto">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner4.jpg" alt="New York" width="100%" height="ml-auto">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#headerSlider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#headerSlider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="container">

  <div class="title_align mt-2">
    <h3 style="font-family:bignoodletitling; color:#0072b9">WELCOME TO OASIS</h3>
    <div class="line_under">
      <div class="line_left"></div>
      <div class="line_center"></div>
      <div class="line_right"></div>
    </div>
    <p class="titleBorder text-center mt-2">PASSION - PACE - PERFECTION</p>
  </div>

  <div class="row pb-4">
    <div class="col-sm-6">
      <h5><a href="#">PRODUCT ENGINEERING</a></h5>
      <p>This engineering discipline encompasses services pertaining to design and development of various automotive
        products, systems and components. AllyGrow today has competencies spanning across services that involve product
        design.</p>
      <p><a class="danger" href="product-engineering.html">Read more...</a></p>
    </div>
    <div class="col-sm-6">
      <h5><a href="#">MANUFACTURING ENGINEERING</a></h5>
      <p>AllyGrow offers End-to-end manufacturing engineering solutions to customers worldwide. We have executed more
        than 3 million hours of engineering services projects in the last 3 decades with our exprianced team. </p>
      <p><a href="manufacturing-engineering.html">Read more...</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h5><a href="#">GENERAL ENGINEERING</a></h5>
      <p>In today’s competitive world where the cost of the product, time to market and product quality can make or
        break businesses, industry leaders are striving to optimize their product costs, shorten the development times
        .</p>
      <p><a href="general-engineering.html">Read more...</a></p>
    </div>
    <div class="col-sm-6">
      <h5><a href="staffing-solutions.html">STAFFING SOLUTIONS - US </a></h5>
      <p>AllyGrow Technologies firmly believes in people and their amazing potential. The company’s success can be
        directly attributed to its employees and their commitment to quality work. Whether you're looking for a job or
        seeking to hire, you've come to the right place.</p>
      <p><a href="staffing-solutions.html">Read more...</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>INDUSTIRES CATERED TO</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/automotive.png" alt="Card image cap">
        <div class="middle">
          <div class="text"><a routerLink="/automotive" routerLinkActive="active">READ MORE</a></div>
        </div>
      </div>
      <div class="text-center mt-2">
        <h5 class="card-title">AUTOMOTIVE</h5>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/aerospace.png" alt="Card image cap">
        <div class="middle">
          <div class="text"><a  routerLink="/aerospace" routerLinkActive="active">READ MORE</a></div>
        </div>
      </div>
      <div class="text-center mt-2">
        <h5 class="card-title">AEROSPACE</h5>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/heavy-engineering.png" alt="Card image cap">
        <div class="middle">
          <div class="text"><a routerLink="/heavyEngineering" routerLinkActive="active">READ MORE</a></div>
        </div>
      </div>
      <div class="text-center mt-2">
        <h5 class="card-title">HEAVY ENGINEERING</h5>
      </div>
    </div>
  </div>

</div>