.line_under {
    padding-top: 2px;
    padding-bottom: 8px;
}
.line_under .line_left, .line_under .line_right, .line_under_full .line_full:after {
    background: #ededed;
}

.line_under .line_left {
    height: 1px;
    width: 52px;
    position: relative;
    float: left;
    left: 50%;
    margin-left: -53px;
    margin-top: 3px;
}
.line_under .line_center {
    background: #009dcd;
}
.line_under .line_center {
    height: 8px;
    width: 8px;
    -web-kit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    position: absolute;
}
.line_under .line_left, .line_under .line_right, .line_under_full .line_full:after {
    background: #ededed;
}
.line_under .line_right {
    height: 1px;
    width: 52px;
    position: relative;
    float: right;
    right: 50%;
    margin-right: -60px;
    margin-top: 3px;
}
.title_align {
    text-align: center;
    border: none;
    font-weight: normal;
    letter-spacing: 0px;
}
.carousel-control-prev {
    opacity: 0;
    left: 0;
    margin: auto;
    height: 50px;
    border: 2px solid white;
    width: 50px;
    border-radius: 30px;
    margin-left: 15px;
}
.carousel-control-next {
    opacity: 0;
    left: 0;
    margin: auto;
    height: 50px;
    border: 2px solid white;
    width: 50px;
    border-radius: 30px;
    margin-right: 15px;
}
.carousel:hover {
    .carousel-control-next{
        opacity: 1!important;
    }
    .carousel-control-prev {
        opacity: 1!important;
    }
}
.carousel-control-next:hover {
    background: #009dcd;
    border: 2px solid #009dcd;
}
.carousel-control-prev:hover{
    background: #009dcd;
    border: 2px solid #009dcd;
}
.titleBorder {
    border-bottom: 1px solid #ece7e7;
    padding-bottom: 10px;
}
 p a {
    text-align: right;
    color: #f79633;
}
a {
    color: #666;
}

.card {
    background: black;
    border: 1px solid white;
}

.card img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card:hover img {
    opacity: 0.3;
  }
  
  .card:hover .middle {
    opacity: 1;
  }
  
  .text {
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 4px 8px;
    cursor: pointer;
  }
  .text:hover {
    background: #009dcd;
  }