<div class="headerTop">
    <div>
        <img src="../../../assets/images/about.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-6">
                <p style="color: black;">&nbsp;&nbsp;&nbsp; Oasis Engineering Services is a Decade old Company with
                    specialization in Manufacturing Engineering Design. As development partner and system supplier
                    OASIS accompanies you from Mechanical Design, Robotic Simulation, Product Design and Project
                    Management. <br>
                    &nbsp;&nbsp;&nbsp; We support you with expertise in the following divisions: Automotive, Aerospace,
                    Heavy Engineering and Specialized Machinery. We serve as a systems supplier for the design
                    solutions of BIW Welding Lines,Assembly Lines, Jigs and Tools. In the Automotive industry, we are
                    an expert partner for the entire value chain from Production Engineering, System Development and
                    Product Design<br>
                    &nbsp;&nbsp;&nbsp; We have highly qualified staff and experienced professionals to complete
                    assigned project in given timeline with pre-decided quality and standard.Our team consists of well
                    experienced professionals from multi-disciplinary engineering and our team Members are constantly
                    and consistently trained with latest tools and methodologies.</p>
            </div>
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/about1.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/about2.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="col-6">
                <h6>Our key performance</h6>
                <ul>
                    <li>BIW Fixture (Welding Fixture, Inspection Fixture &amp; Grippers etc.) <br>
                        a) Production Tooling Fixtures<br>
                        b) Proto Tooling Fixtures
                    </li>
                    <li>Robotics Simulation</li>
                    <li>Off-Line Programming </li>
                    <li>Automobile product design/Component Design.</li>
                </ul>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-6">
                <h6>Our skills </h6>
                <ul>
                    <li>Design Engineering and Robotic Simulation</li>
                    <li>Vast experience in Automobile industry.</li>
                        <li>Expertise in below software platforms.<br>
                            a) CATIA V5 <br>
                            b) UNIGRAPHICS –NX<br>
                            c) RobCAD<br>
                            d) PROCESS SIMULATE<br>
                            e) DELMIA<br>
                            f) FIDES<br>
                            g) Creo<br>
                            h) AUTOCAD (For Layouts)
                        </li>
                </ul>
            </div>
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/about3.jpg" alt="Card image cap">
                </div>
            </div>

        </div>
    </div>
</div>