<div class="headerTop">
    <div>
        <img src="../../../assets/images/contact-us.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div>
                    <h3>Enquiry Form</h3>
                    <br>
                    <div class="wpb_wrapper">
                        <div class="contact_form wpb_content_element">
                            <div class="row-fluid">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <form method="post" class="contactform" name="contact_form" action="/contact-form.php">
                                            <input class="span12 mb-2 form-control" type="text" name="name" id="exampleInputName"
                                                required="" placeholder="Name*">
                                            <input class="span12 mb-2 form-control" type="text" name="email" id="exampleInputEmail"
                                                required="" placeholder="Email ID*">
                                            <input class="span12 mb-2 form-control last" type="text" name="contact" id="exampleInputContact"
                                                required="" placeholder="Contact*">
                                            <textarea class="mb-2 form-control" name="message" rows="8" cols="30" id="textarea"
                                                required="" placeholder="Enquiry Details*"></textarea>
                                            <p class="perspective">
                                                <input type="submit" value="submit" name="submit" class="btn-default normal default">
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/address" routerLinkActive="active">Address</a></li>
                        <li class="list-group-item"><a routerLink="/serviceRequest" routerLinkActive="active">Request
                                for Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>