<div class="headerTop">
    <div>
        <img src="../../../assets/images/automotive.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="wpb_wrapper">
                    <p>Automotive industry is continuously challenged with pressure on investments &amp; reduced time
                        to market for introduction of new models / variants. On the one hand in the manufacturing space
                        this leads to a greenfield project or upgrade existing production facilities for introduction
                        of a new variant on an existing production line. On the other in the Product Engineering space
                        it leads to new product lines or vehicle facelift projects. In both the scenarios Digital
                        Manufacturing plays a pivotal role.</p>
                    <p>The evolving role of the product designers to combine art, science and technology has been
                        facilitated by digital tools that now allow designers to visualize, communicate and produce
                        tangible ideas in a way never thought of before. Oasis is able to do exactly this through
                        the acquisition of Automotive Elements which has very rich experience and the resources to
                        execute projects in the Automotive domains of Interiors &amp; Exteriors. Oasis supports
                        customers right from the Concept Design phase through to Product Launch. Validation of designs
                        for requirements of manufacturing feasibility, regulatory compliances, durability, crash etc.
                        is done concurrently using CAE tools in the various design phases. The final validated product
                        complete in all aspects is delivered to the customer within the set timelines. Latest
                        communication and program management tools are employed during this entire process. The long
                        standing experience of Automotive Elements will be extended and supplemented by focused
                        competency development in specific additional automotive domains to enable Oasis to service
                        its customers across different systems and sub-systems.</p>
                    <p>Oasis, through its acquisition of Ranal’s engineering services vertical, has now decades of
                        experience and resources with the right skill sets to address this process in the manufacturing
                        domain . The company therefore uses diverse and advanced technologies to meet the objective of
                        reduced time to Start Of Production (SOP). Oasis gets associated with a project right from
                        Simultaneous Engineering phase to Processing, Equipment design, Factory planning and Build-
                        support, based on customer need. Digital Manufacturing and simulation tools help to construct a
                        complete Virtual Factory before a single brick is laid at site, thus enabling the customer to
                        plan,
                        validate and optimize their production processes, well ahead of the start of production. Over
                        the
                        period of last 20 years the team has catered to the requirements of global customers to
                        significantly reduce the time as well as cost of setting up production lines.</p>
                    <p>The array of services in the automotive are as follows:</p>
                    <h3>Product Engineering</h3>

                    <ul>
                        <li>Body in White (BIW)</li>
                        <li>Plastic Interior Trims</li>
                        <li>Plastic Exterior Trims</li>
                        <li>Automotive Seating</li>
                        <li>Chassis Systems</li>
                    </ul>
                    <h3>Manufacturing Engineering</h3>
                    <ul>
                        <li>BIW Tool Design</li>
                        <li>Measurement Strategy &amp; Dimensional Management</li>
                        <li>Processing &amp; Simultaneous Engineering</li>
                        <li>Simulation &amp; Plant Layout</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/automotive" routerLinkActive="active">Automotive</a></li>
                        <li class="list-group-item"><a routerLink="/aerospace" routerLinkActive="active">Aerospace</a></li>
                        <li class="list-group-item"><a routerLink="/heavyEngineering" routerLinkActive="active">Heavy
                                Engineering</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>