<div class="headerTop">
    <div>
        <img src="../../../assets/images/product-engg.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="wpb_wrapper">
                    <h3>Overview</h3>
                    <p>This engineering discipline encompasses services pertaining to Concept Generation, Feasibility
                        Studies, Design and Development for various automotive systems, sub-systems and components.
                        Oasis today has competencies encompassing the entire development process with the right mix
                        of skills in design, manufacturability, cost, serviceability, reliability, performance and user
                        friendliness. The experienced team of Oasis with their in-depth domain knowledge can convert
                        challenging assignments to tangible ideas.</p>
                    <p>Oasis through the acquisition of A.E Automotive Elements GmbH, now possesses rich product
                        engineering experience in upstream processes of product development to execute end-to- end
                        projects for Automotive OEMs and Tier 1s – especially in the areas of interior &amp; exterior
                        domains. The combination of German skills and Indian scale will offer enhanced value to clients
                        globally.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/productEng" routerLinkActive="active">Product
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/manufacturingEng" routerLinkActive="active">Manufacturing
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/generalEng" routerLinkActive="active">General
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/staffingSolutions" routerLinkActive="active">Staffing
                                Solutions - US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>