<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light fixexHeight">
    <img class="navbar-brand" src="../assets/images/logoOasis.png" alt="Los Angeles" width="250px" height="ml-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a routerLink="/" routerLinkActive="active" class="nav-link">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    CORPORATE
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/aboutUS" routerLinkActive="active" class="dropdown-item">ABOUT US</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    INDUSTRIES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/automotive" routerLinkActive="active" class="dropdown-item">AUTOMATIVE</a>
                    <a routerLink="/aerospace" routerLinkActive="active" class="dropdown-item">AEROSPACE</a>
                    <a routerLink="/heavyEngineering" routerLinkActive="active" class="dropdown-item">HEAVY ENGINEERING</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    SOLUTIONS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/productEng" routerLinkActive="active" class="dropdown-item">PRODUCT ENGINEERING</a>
                    <a routerLink="/manufacturingEng" routerLinkActive="active" class="dropdown-item">MANUFACTURING
                        ENGINEERING</a>
                    <a routerLink="/generalEng" routerLinkActive="active" class="dropdown-item">GENERAL ENGINEERING</a>
                    <a routerLink="/staffingSolutions" routerLinkActive="active" class="dropdown-item">STAFFING
                        SOLUTIONS - US</a>
                </div>
            </li>
            <li class="nav-item active">
                <a routerLink="/careers" routerLinkActive="active" class="nav-link">CAREERS</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    CONTACT US
                </a>
                <div style="left: -60%;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/address" routerLinkActive="active" class="dropdown-item">ADDRESS</a>
                    <a routerLink="/serviceRequest" routerLinkActive="active" class="dropdown-item">REQUEST FOR
                        SERVICES</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<go-top-button title="Go To Top" [animate]="true" [speed]="5" [acceleration]="1" [scrollDistance]="200" [classNames]="'gototop btn btn-primary'">
    <i class='fa fa-chevron-up'></i>
</go-top-button>

<!-- Footer -->
<footer class="page-footer font-small text-white mt-4">
    <!-- Footer Links -->
    <div class="pt-4 footerBgColor">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h6>ABOUT US</h6>
                    <div class="thin_line"></div>
                    <p class="customFloat">
                        Oasis is a technology driven organization that focuses on core engineering design, development
                        and manufacturing engineering services.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h6>ADDRESS</h6>
                    <div class="thin_line"></div>
                    <ul class="customFloat">
                        <li><b>Head Office:</b></li>
                        <li>
                            Shop No. 1, Sneha Paradise, NDA Road,
                            Warje Malwadi, Pune-411052.
                            Maharashtra, India
                        </li>
                        <li>
                            Contact No: - +91-9130081899
                        </li>
                        <li>
                            sales@oasisserve.com
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h6>LINKS</h6>
                    <div class="thin_line"></div>
                    <div class="tagcloud">
                        <a routerLink="/" routerLinkActive="active" class="tag-link-30" title="Home" style="font-size: 8pt;">Home</a>
                        <a routerLink="/aboutUS" routerLinkActive="active" class="tag-link-33" title="Corporate" style="font-size: 8pt;">Corporate</a>
                        <a routerLink="/automotive" routerLinkActive="active" class="tag-link-34" title="Industries"
                            style="font-size: 8pt;">Industries</a>
                        <a routerLink="/productEng" routerLinkActive="active" class="tag-link-29" title="Solutions"
                            style="font-size: 8pt;">Solutions</a>
                        <a routerLink="/careers" routerLinkActive="active" class="tag-link-35" title="Careers" style="font-size: 8pt;">Careers</a>
                        <a routerLink="/address" routerLinkActive="active" class="tag-link-28" title="Contact Us" style="font-size: 8pt;">Contact
                            Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center copyRight py-3">© 2020 Copyright:
            <a href="http://www.oasisserve.com" target="_blank">Oasis Engineering Services.</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>
<!-- Footer -->