<div class="headerTop">
    <div>
        <img src="../../../assets/images/staffing-solutions.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="wpb_wrapper">
                    <h3>Overview</h3>
                    <p>Oasis Technologies firmly believes in people and their amazing potential. The company’s
                        success can be directly attributed to its employees and their commitment to quality work.
                        Whether you're looking for a job or seeking to hire, you've come to the right place. </p>
                    <p>Oasis’s Staffing Solution team has the right expertise in helping companies with the
                        “Perfect-Match” resource pool within a shortest time frame. This combined with a flexible
                        business model makes the engagement further more effective for its clients as well as
                        employees.</p>
                    <p>The client-focused staffing solutions services span across multiple industries and vertical
                        markets, such as Automotive, Engineering, Manufacturing and Information Technology.</p>

                    <h3>Why Oasis?</h3>
                    <p>The staffing solutions business model is structured around development of engineered solutions
                        to specific customers’ needs. The internal team at Oasis has the right blend of competencies
                        and predefined processes to locate and qualify candidates to internally set standards before
                        submitting them to the client. This method has allowed Oasis to consistently present the
                        right candidate to the right opportunity with greater regularity. </p>
                    <p>The company’s commitment to quality and excellent reputation has served well for both clients
                        and its employees. Oasis today, apart from being a core technical engineering services
                        provider is also recognized as a premier provider of staffing solutions to companies ranging
                        from Fortune 500 to rapidly growing organizations. Key points to note are </p>
                    <ul>
                        <li>
                            <p>Oasis’s commitment to its clients success</p>
                        </li>
                        <li>
                            <p>Background checks, drug testing, confidentiality, etc. carried out as a standard process</p>
                        </li>
                        <li>
                            <p>Fully committed team with deep industry knowledge and experience that results in a quick
                                turn around</p>
                        </li>
                        <li>
                            <p>Competitive compensation</p>
                        </li>
                        <li>
                            <p>Full benefit packages</p>
                        </li>
                        <li>
                            <p>Full service staffing portfolio; contract, contract-to-hire, permanent placement</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/productEng" routerLinkActive="active">Product
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/manufacturingEng" routerLinkActive="active">Manufacturing
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/genralEng" routerLinkActive="active">General
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/staffingSolutions" routerLinkActive="active">Staffing
                                Solutions - US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>