<div class="headerTop">
    <div>
        <img src="../../../assets/images/heavy-engg.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="wpb_wrapper list-height">
                    <p>Offerings from AllyGrow for Heavy Engineering Industries mainly pertain to Virtual
                        Manufacturing, consisting of Virtual reviews, Audits and Virtual builds. AllyGrow also offers
                        design of Assembly fixtures, Machining fixtures, Fabrication / welding fixtures, material
                        handling devices, Transportation devices and dollies. AllyGrow has the expertise to conduct
                        Throughput analysis and also Factory Flow analysis of production facility.</p>

                    <p>Virtual Manufacturing Offerings include,</p>
                    <ul>
                        <li>Virtual process planning for assembly
                            <ul>
                                <li>Virtual audit of new products</li>
                                <li>Hand tool validation</li>
                                <li>Assembly ergonomic validation</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>Virtual build event / virtual manufacturing :
                            <ul>
                                <li>MBOM generation</li>
                                <li>Detailed validation</li>
                                <li>Stage-wise detailed validation</li>
                                <li>Landing study of aggregates</li>
                                <li>Product build up sequence (Virtual build)</li>
                                <li>Assembly work instruction sheets &amp; visual aids</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/automotive" routerLinkActive="active">Automotive</a></li>
                        <li class="list-group-item"><a routerLink="/aerospace" routerLinkActive="active">Aerospace</a></li>
                        <li class="list-group-item"><a routerLink="/heavyEngineering" routerLinkActive="active">Heavy
                                Engineering</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>