<div class="headerTop">
    <div>
        <img src="../../../assets/images/general-engg.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="wpb_wrapper">
                    <h3>Overview</h3>
                    <p>In today’s competitive world where the cost of the product, time to market and product quality
                        can make or break businesses, industry leaders are striving to optimize their product costs,
                        shorten the development time and build product quality into the core processes of PDP. Oasis
                        helps OEMs and Tier 1s to meet these targets through a variety of focused approaches that cut
                        across systems, domains and industries. Few of the Oasis offerings aligned to above
                        mentioned customer aspirations are:</p>
                    <h3>Knowledge Based Engineering (KBE):</h3>
                    <p>Customizations/Templates/Macros to speed up the design process, manage iterations and reduce
                        manual errors induced in the design process. Oasis has a competent team of KBE engineers to
                        work with various tools such as NX &amp; Catia.</p>
                    <h3>Simulation:</h3>
                    <p>Physical proto development and testing is last generation. More and more OEMs are heavily
                        investing into Digital engineering and Simulation is a key to this process. Oasis can
                        support OEMs in<br>
                        a. Product verification – CAE/FEA for strength, durability, safety, CFD, multi-body dynamics,
                        multi-disciplinary analysis<br>

                        b. Assembly verification – Digital Mock Up (DMU) and assembly/service simulation, kinematic
                        analysis<br>

                        c. Manufacturing simulation – Manufacturing simulation, Robotic simulation, Plant simulation
                        Ergonomic simulation, mold-flow analysis</p>
                    <h3>Value Analysis Value Engineering:</h3>
                    <p>Oasis can support through a structured approach, various VAVE initiatives of the customer to
                        optimize weight, cost or part standardization. Oasis has a competent team of engineers with
                        thorough product, excellent engineering skills and sound manufacturing background to evaluate
                        VAVE options to deliver value to the customer.</p>
                    <h3>Virtual Audit:</h3>
                    <p>Oasis lets you eliminate building expensive prototypes by conducting Virtual Builds, Virtual
                        Reviews and Landing Studies on the products. Besides validating designs &amp; MBOMS, Oasis
                        can also generate Work instructions &amp; Visual assembly aids.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/productEng" routerLinkActive="active">Product
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/manufacturingEng" routerLinkActive="active">Manufacturing
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/genralEng" routerLinkActive="active">General
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/staffingSolutions" routerLinkActive="active">Staffing
                                Solutions - US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>