<div class="headerTop">
    <div>
        <img src="../../../assets/images/manufacturing-engg.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <div class="wpb_wrapper">
                    <h3>Overview </h3>
                    <p>Oasis with its acquisition of Ranal’s manufacturing engineering services has imbibed over 2
                        decades &amp; 2 million hours of expertise in the manufacturing space. Oasis therefore is
                        now equipped to offer End-to-End manufacturing engineering solutions to customers globally. The
                        team uses diverse technologies and tools to cater to the requirements of a wide spectrum of
                        domains like Automotive, Aerospace and Heavy Engineering. </p>
                    <!--<p>With an experienced team having more than 2 million hours of manufacturing engineering expertise that was developed over last 2 decades, Oasis offers End-to-End manufacturing engineering solutions to customers globally. The team uses diverse technologies and tools to cater to the requirements of a wide spectrum of domains like Automotive, Aerospace and Heavy Engineering.</p>-->
                    <p>The company is backed by decades of experience in technology areas such as Robotics, Off-line
                        Programming, Digital Manufacturing, Process Planning and Project Management. This, clubbed with
                        a proven business model which is fine-tuned while working with a varied range of clients has
                        enabled Oasis to cater to its customers across America, Europe, Asia and Africa.</p>
                    <p>The array of Manufacturing Engineering Services offerings includes Measurement strategy &amp;
                        Dimensional management, Simultaneous Engineering including Process design, Tool &amp; Equipment
                        design, Plant layout &amp; facility planning, Process &amp; tool validation using various
                        simulation tools, thus enabling the customers to plan, validate and optimize their production
                        processes well ahead of start of production. Oasis’s manufacturing engineering expertise is
                        drawn from its acquisition of Ranal which has been a specialized player in this space with
                        decades of experience and mix of right skill sets.</p>
                    <br>
                    <!--<p><img src="images/graph.jpg"></p>-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="span3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a routerLink="/productEng" routerLinkActive="active">Product
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/manufacturingEng" routerLinkActive="active">Manufacturing
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/generalEng" routerLinkActive="active">General
                                Engineering</a></li>
                        <li class="list-group-item"><a routerLink="/staffingSolutions" routerLinkActive="active">Staffing
                                Solutions - US</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>