<div class="headerTop">
    <div>
        <img src="../../../assets/images/aerospace.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-8">
                <div class="wpb_wrapper list-height">
                    <p>AllyGrow offers Engineering services like design and detailing, drafting, Analysis, Simulation
                        to various Aerospace verticals like Aero structures, Engines, Interiors, Systems including
                        instrumentation, Harness and tubing design, Scaffold design, Assembly Jigs and Fixtures,
                        Transport Fixtures, Storage Racks, Tools for Composite Fabrication, Pallet Fixtures, Lift
                        assist etc.</p>

                    <p>AllyGrow offerings for Aerospace domain:</p>
                    <ul>
                        <li>Fixture &amp; Tooling design for Assembly, Transport, Racks for storage, Tools for
                            composites fabrication and Lay-up mold designs, Pallet Fixtures, Lift Assist etc.</li>
                        <li>Analysis : Stress analysis and Fatigue analysis of Aero-structures and Lay-up Tools.</li>
                        <li>Technical Documentation:<br>
                            AllyGrow also has experience in creation of Technical Documentation/ Publications such as,
                            <ul>
                                <li>Engine Manual</li>
                                <li>Service Manual</li>
                                <li>Structural Repair Manual</li>
                                <li>Aircraft Schematic Manual</li>
                                <li>Flight Manual</li>
                                <li>Service Bulletins</li>
                                <li>User Manual</li>
                                <li>Operational Manual</li>
                                <li>Owners Manual</li>
                                <li>Equipment Manual</li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="span3">
                    <ul class="side-nav">
                        <ul>
                            <li class="page_item page-item-1268"><a routerLink="/automotive" routerLinkActive="active">Automotive</a>
                            </li>
                            <li class="page_item page-item-1271"><a routerLink="/aerospace" routerLinkActive="active">Aerospace</a>
                            </li>
                            <li class="page_item page-item-1423"><a routerLink="/heavyEngineering" routerLinkActive="active">Heavy
                                    Engineering</a>
                            </li>

                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>