<div class="headerTop">
    <div>
        <img src="../../../assets/images/careers.jpg" width="100%" height="200px">
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-8">
                <p style="text-align: justify; color: black; margin-top: -10px;">&nbsp;&nbsp;&nbsp; Our strength lies
                    in our people who are deeply passionate
                    about delivering successful results and building strong customer
                    relationships. We believe that our employees are our most valuable
                    asset. We focus on hiring the most talented, motivated, team-oriented
                    and dedicated employees who share our values and will work towards
                    achieving the goals of our organization. Believes in delivering on
                    its promise and going above and beyond in providing value, both to
                    our customers and to our employees. </p><br>
                <p style="text-align: justify; color: black;">&nbsp;&nbsp;&nbsp; Whether you’re an experienced
                    professional or just embarking on
                    your career, consider a career with. throughout your career, you will
                    be challenged by the work and by the people on your team as well as by
                    the customers. at, we work together to create an environment that motivates
                    every individual to contribute through creativity and ideas. Furthermore,
                    gives each employee the opportunity to flourish as an entrepreneur in a
                    palpable “Can Do” ecosystem that Fosters Winning and Team Spirit in every step.
                    OES invites you to be a part of our successful team with a winning tradition.</p><br>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/images/careerbottom.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</div>